downloads/
data/
prepared_l0/
docs/_build/
pyrawph.egg-info/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.zip
.venv_test/
# Runtime/generated outputs
cache/
outputs/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
